// ヘッダーのscssです
.boss{
  padding: 0 60px;
  .header-inner{
    max-width: 1040px;
    min-height: 82px;
    width: 100%;
    margin: 0 auto;
    padding: 15px 0 0;
    &__main{
      position: relative;
      display: flex;
      align-items: center;
      &--icon{
        padding-bottom: 5px;
        margin-right: 30px;
        border-radius: 4px;
        cursor: pointer;
        
        &__img{
          display: block;
          width: 140px;
          &__tag{
            width: 100%;
            vertical-align: bottom;
          }
        }
      }
      &--search-box{
        height: 36px;
        display: block;
        width: 100%;
        margin-left: auto;
        margin: 0;
        padding: 0;
      &__form{
        width: 100%;                                                                          
        display: flex;
        margin-bottom: 5px;
        &__input{
          width: calc(100% - 40px);
          height: 36px;
          padding: 0 0 0 5px;
        }
        &__button{
          width: 40px;
          height: 100%;
          cursor: pointer;
          border: 0;
          padding: 6px;
          background-color: #3CCACE;
          display: block;
          &__icon{
            margin: 0;
            padding: 0 0 0 0;
            margin-bottom: -3.8px;
            &__img{
              width:  100%;
              vertical-align: bottom;
            }
          }
        }
      }
      }
    }

// ここからナビバー
&__nav{
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  &--lists-left{
    position: relative;
    display: flex;
    &__item{ 
      margin: 8px 0 5px 5px;
      color:black;
      cursor: pointer;
    }
  }
  &--lists-right{
    position: relative;
    display: flex;
    &__login{
      margin: 8px 0 5px 5px;
      color:black;
      cursor: pointer;
    }
    &__new{
      margin: 8px 0 5px 5px;
      color:black;
      cursor: pointer;
      &__mypage{
       color: black;
      }
     }
    &__logout{
      margin: 8px 0 5px 5px;
      color:black;
      cursor: pointer;
    } 
    }
   }
  }
}
.purchaseBtn{
  width: 120px;
  background: #3CCACE;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
    &__text{
      color: #fff;
      display: block;
      font-size: 18px;
      text-decoration: none;
      margin-bottom: 5px;
    }
    &__img{
            width: 60%;
    }
    
}

//category
.header__menu-box {
  height: 46px;
  margin: 8px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &--left {
    display: flex;
    justify-content: space-between;
    .fas.fa-list-ul{
      color: #eb11119c;
      font-size: 12px;
      margin-right: 4px;
    }
    ul {
      li.header__menu-box--left__category {
        font-weight: bold;
        font-size:14px;
        margin-right: 10px;
        height: 55px;
        line-height: 46px;
        position: relative;
        &:hover {
          color: #7680efb1;
          ul {
            li {
              display: block;
              height: 44px;
            }
          }
        }
        ul {
          position: absolute;
          top: 44px;
          z-index: 1000;
          font-weight: normal;
          li {
            width: 220px;
            height: 0;
            display: none;
            background-color: white;
            &:hover {
              color: #7680efb1;
              .header__menu-box--left__children {
                &__child {
                  display: block;
                  height: 30px;
                }
              }
            }
            a {
              &:hover {
                background-color: #eb11119c;
                color: white;
              }
            }
            .header__menu-box--left__children {
              position: absolute;
              top: 0;
              left: 220px;
              z-index: 1000;
              height: 616px;
              background-color: white;
              border-right: 1px solid #c1bfbf;
              &__child {
                width: 220px;
                height: 0;
                display: none;
                background-color: white;
                &:hover {
                  color: #7680efb1;
                  .header__menu-box--left__grand-children {
                    &__grand-child {
                      display: block;
                      height: 30px;
                    }
                  }
                }
                a {
                  font-size: 14px;
                  &:hover {
                    background-color: #f3f3f3;
                  }
                }
                .header__menu-box--left__grand-children {
                  position: absolute;
                  top: 0;
                  left: 220px;
                  z-index: 1000;
                  height: 616px;
                  background-color: white;
                  border-right: 1px solid #c1bfbf;

                  &__grand-child {
                    width: 300px;
                    height: 0;
                    display: none;
                    background-color: white;
                    a {
                      font-size: 14px;
                      &:hover {
                        background-color: #f3f3f3;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}